<html>
    <head>
        <title>
            {{ title }}
        </title>
    </head>
    <body>
        {{> header }}
        <p>This is the about page.</p>
        <p>Welcome {{ screamIt username }}</p>
        {{> footer }}
    </body>
</html>